.main {
  display: grid;
  grid-template-columns: 350px auto;
  min-height: 100vh;
}

.main__user {
  width: 100%;
}

.main__aside {
  position: relative;
  background-color: var(--color-bg-secondary);
}

.main__search {
  width: 370px;
}

.main__list-item {
  border-radius: var(--control-radius);
}

.main__list-item:hover, .main__list-item_view_active {
  background-color: var(--color-bg-ghost);
}

.main__list-item:not(.main__list-item_view_active):hover {
  background-color: var(--color-bg-stripe);
  cursor: pointer;
}

.main__table {
  width: 100%;
  border-collapse: collapse;
}

.main__table .main__table-head {
  background: none !important;
}

.main__table .main__table-item:hover {
  cursor: pointer;
  background: var(--color-bg-ghost) !important;
  transition: background 0.12s;
}

.main__themer {
  position: fixed;
  bottom: var(--space-xl);
  width: 302px;
}

.main__popup {
  width: 480px;
  background-color: var(--color-bg-default);
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: var(--control-radius);
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.popup__header {
  position: relative;
  height: 24px;
  background-color: var(--color-bg-secondary);
}

.popup__header .popup__close {
  position: absolute;
  right: 0;
  top: 0;
}

.popup__input { width: 100%; }