.App *::-webkit-scrollbar {
  width: 8px;
  height: 30px;
}

.App .scroll_direction_vertical::-webkit-scrollbar {
  width: 30px;
  height: 8px;
}

.App *::-webkit-scrollbar-thumb {
  background-color: rgba(0,32,51, 0.3);
  border-radius: 4px; 
}

.App *::-webkit-scrollbar-track {
  background: rgba(124,124,124, 0.06);
}

.theme {
  background-color: var(--color-bg-default);
}